body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    max-height: 150px;
}
h1, h2 {
    color: #333;
}
a{
    text-decoration-line: none !important;
}
.times{
    color: rgb(69, 112, 5) !important;
}
.navigation a{
    color: #8b7474;
}
.header {
    display: flex;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img {
    height: 80px;
}
#png_logo{
    size: 10px;
}
.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5px;
}
.header .btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.header .btn.login {
    background: #fff;
    color: #ff4500;
    border: 1px solid #ff4500;
    font-size: larger;
}
.header .btn.register {
    background: #ff4500;
    color: #fff;
    font-size: larger;

}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: #eafaf1;
}
.hero-content {
    max-width: 60%;
}
.hero-image img {
    max-height: 32vw;
    max-width: 100%;
    margin-left: 3%;
    z-index: 10%;
    bottom: 0%;
    position:relative;
    right: 5%;
}
.hero h1{
    font-size: 90px;
}
.btn.cta{
    margin-top: 30px;
    border-radius: 10px;
    background: #ff4500;
    color: #fff;
    font-size: 20px;
    width: 60vh;
    height: 5vh;
}
.info {
    padding: 8px;
    text-align: center;
    background: #fff9e6;
    font-size: 23px;
}
.info h2 {
    color: #333;
    font-size: 35px;
    margin-top: 3%;
}
.info p{
    max-width: 68%;
    justify-self: center
}
.info strong{
    color: #333;
}
.support {
    background: #fff9e6;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
}
.support img{
    max-height: 32vw;
    max-width: 100%;
    margin-left: 3%;
    z-index: 10%;
    bottom: 0%;
    position:absolute;
    left: 1%;
}
.support h2{
        font-family: "Covered By Your Grace";
        text-align: center;
        font-size: 80px;
        color: #009387;
        width: 59%;
        justify-self: center;
        left: 0%;
}
.support-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: fit-content;
    font-size: 3.1vh;
    margin-right: 3%;
    position: relative;
}
.support li{
    height: 7vw;
    margin-left: 60vh;
    position: relative;
}
strong{
    color: #ff4500;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: #344b49 solid 4px;
}
.my-5{
    display: flex;
    width: 100%;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.header .btn.login:hover {
    background: #ff4500;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header .btn.register:hover {
    background: #fff;
    color: #ff4500;
    border: 1px solid #ff4500;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

footer .btn-floating:hover {
    background-color: #ff4500;
    color: white;
    transform: scale(1.2);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.btn.cta:hover {
    background: #fff;
    color: #ff4500;
    border: 1px solid #ff4500;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1.05);
}
.p-4{
    padding: 1% 0% 0% 0% !important;
}