@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  position: relative;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background-image: url("assets/kobe.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: antiquewhite;
  flex-direction: column;
}

.container {
  background-color: whitesmoke;
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgrey;
}

form {
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 300px;
  height: 400px;
}

.buttonsForm {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 #ff4500;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

.btnColor {
  position: absolute;
  width: 128px;
  height: 100%;
  background: linear-gradient(to right, #e97044, #ff4500);
  border-radius: 30px;
  transition: .3s;
}

input[type="text"], input[type="password"] {
  border: none;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}

button[type="submit"] {
  background: #da6135;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
}

.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

#signin {
  left: 25px;
}

#signup {
  left: 450px;
}

.container i{
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.iEmail {
  top: 40px;
}

.iPassword {
  top: 114px;
}

.iPassword2 {
  top: 190px;
}
footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: #344b49 solid 4px;
  bottom: 0;
}

.bg-dark{
  margin-top: 20%;
  position: fixed;
}
.p-4{
  padding: 1% 0% 0% 0% !important;
}
.container01 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  max-height: 150px;
}
h1, h2 {
  color: #333;
}
.header a{
  text-decoration-line: none !important;
  width: 10vh;
}
.times{
  color: rgb(69, 112, 5) !important;
}
.navigation a{
  color: #8b7474;
}
.header {
  display: flex;
  background: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0vh;
  width: 100%;
}
.header .logo{
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.logo img {
  height: 80px;
}
#png_logo{
  size: 10px;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5px;
}